{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1> Liste des projets </h1>

    {# la première boucle for pour selections les université dans la table de l'universite #}
        {% for universites in universite %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <div class="example-wrapper">
                        <div class="nav-item "> 
                            {# la selection du nom parmis les attribus de la classe Universite #}
                            <h4> {{ universites.nom|capitalize }}
                                <br>
                                {# la selection du lien parmis les attribus de la classe Universite #}
                                <a href="{{ universites.lien|capitalize }}">lien de l'université</a>
                            </h4>
                        </div>
                        {# la jointure des deux entity Université et Projets et la selection les attributs de l'entity projets
                         en fonction de projets realisé selons l'université avec la non condition else qui devrait affiché un message de 
                         pas de projet fait si jamais pendant le cursus dans l'université y a eu de projet realisé  #}
                        {% for projets in universites.projet %}
                            <div class="nav-item ">
                                <li>{{projets.titre|capitalize}}</li>                       
                                <h3>{{projets.descrip|capitalize}}</h3>
                                <h4> <a href="{{projets.lien|capitalize}}"> Lien Github </a> </h4>
                                {% else %}
                                <h3> <p>  pas de projet fait <p></h3>
                            </div>
                        {% endfor %}         
                    </div>            
                </div>            
            </nav>              
        {% endfor %}    
 {% endblock %}           
            
        
        

        


