{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h5>
<li><a href="{{ path('home1')}}">Accueil</a></li>
<li><a href="{{ path('home2')}}">Le nombre des thèses par ecole doctorale</a></li>
</h5>

<h1> Liste des thèses tendances </h1>
    {% for ecoles in ecole %}
    <div class="example-wrapper">
   
     <h4><a href="{{ ecoles.lien|capitalize }}">{{ ecoles.nom|capitalize }}</a></h4>
    
     <div class="example-wrapper">
        {% for theses in ecoles.theses %}

        
        <h2><li>{{theses.title|capitalize}}</li></h2>
    
        <h3>{{theses.phrase|capitalize}}</h3>
        
        <h4>{{theses.contact|capitalize}}</h4>

        {% else %}
           <p>  Aucune proposition de thèse pour l'instant n'hesitez pas à consulter
                notre site régulièrement  <p>
       
        
        {% endfor %}
        </div>
    </div>
    {% endfor %}
  

 {% endblock %}       


